/* CSS Variables */

:root {
    --button-font-color: #ffffff;
    --button-bg: #383838;
    --moss-green: #AFD5AA;
    --flash-white: #F0F2EF;
    --onyx: #383838;
    --pastel-brown: #876E56;
    --rhythm: #8E719E;
    --keeps: #d7aefb;
}

body {
  margin: 0px;
}

#topContainer {
  background-color: var(--onyx);
  margin: 0px 0px 20px 250px;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



/* modal popup start */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 5;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

#landingPage {
  /* display: none;
  Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 4;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: var(--pastel-brown);
  /* Black w/ opacity */
}



.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 50px auto;
    /* 15% from the top and centered */
    padding: 0;
    width: 60%;
    /* Could be more or less, depending on screen size */
    box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.5);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modal-header {
    padding: 2px 16px;
    background-color: var( --pastel-brown);
    color: white;
}

.modal-footer {
    padding: 10px 0;
    background-color:var( --pastel-brown);
    color: white;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .closeModal {
    color: #ccc;
    float: right;
    font-size: 30px;
  }
  /* #btnCloseRegistrationForm, #btnCloseNews, #btnCloseLoginForm, #btnCloseEvents,#btnEditCloseEvents, #btnCloseTasks
  {
    color: #ccc;
    float: right;
    font-size: 30px;
  } */

  .closeModal:hover,
  .closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

 /*  #btnCloseRegistrationForm:hover, #btnCloseNews:hover, #btnCloseLoginForm:hover, #btnCloseEvents:hover,#btnEditCloseEvents:hover,
  #btnCloseRegistrationForm:focus, #btnCloseNews:focus, #btnCloseLoginForm:focus, #btnCloseEvents:focus,#btnEditCloseEvents:focus, 
  #btnCloseTasks:hover, #btnCloseTasks:focus, #btnCloseRequests:focus, #btnCloseRequests:hover
   {
    color: black;
    text-decoration: none;
    cursor: pointer;
   }*/

.flex-container {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    padding: 15px;
    overflow: auto;
}

.flex-input {
    padding: 4px 5px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    overflow: auto;
  }
  .submit{
    background-color: var(--button-bg);
    color: var( --button-font-color);
    padding: 5px 20px;
    font-size: 20px;
    height: 43px;
  }

  .submit:hover,
  .submit:focus {
    background-color: green;
    border: 2px solid #4caf50;
  }
  /* #btn-save, #btnNewsSave, #btnEventSave, #btnEventSaveEdit, #btnTasksSave {
    background-color: var(--button-bg);
    color: antiquewhite;
    padding: 5px 10px;
    font-size: 20px;
}

#btn-save:hover,
#btnNewsSave:hover,
#btnEventSave:hover,
#btnEventSaveEdit:hover {
    background-color: green;
    border: 2px solid #4caf50;
  }

  #btn-save-changes {
    background-color: var(--button-bg);
    color: antiquewhite;
    padding: 5px 10px;
    font-size: 20px;
}

#btn-save-changes:hover {
    background-color: green;
    border: 2px solid #4caf50;
}


/* header {
    background-color: var(--pastel-brown);
    padding: 0.5em;
    height: 150px;;
}
 */
/* nav {
    text-align: center;
    display: inline;
    margin: 3em;
    padding: 2em;
} */

nav button {
    margin: 3em;
    padding: 0.5em;
    background-color: bisque;
}

img {
    margin: 10px, 35px;
    margin-left: 20px;
    float: inline-end;
    border-radius: 25% 10%;
    height: 75px;
    width: 75px;
    filter: drop-shadow(5px 0px 1.5px #3737376e);
}

/* new css */

#welcomeMessage {
  width:80%;
}
#mainContainer {
  margin-left: 275px;
}

#addButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.add-button {
  margin: 0px 30px;
}

header {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:var(--pastel-brown);
  overflow-x: hidden;
  padding-top: 20px;
  filter: drop-shadow(3px 0px .5px #50505029);
}

#headerContainer{
  text-align: center;
}

.task-component {
  background-color: var(--keeps);
  display: inline-block;
  padding: 16px;
  border-radius: 8px;
  margin: 16px;
}

.button-icon {
  pointer-events: none;
  height: 25px;
  width: 25px;
}

.icon-button:hover {
  filter: opacity(0.5);
}


.icon-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline:none;
}

.appTitle {
  /* display: inline-block; */
  /* width: 60%; */
  /* padding-left: .25em; */
  font-family: 'Heebo', sans-serif;
  font-weight: lighter;
  color: white;
}

.loginWelcome {
  /* padding-left: 5px; */
  font-weight: lighter;
  font-family: 'Heebo', sans-serif;
  font-size: 30px;
  color: white;
}

.login-header, .newsModalHeader, .eventsModalHeader, .taskModalHeader, .requestModalHeader, .register-header {
  font-weight: medium;
  font-family: 'Heebo', sans-serif;
  font-size: 30px;
  color: white;
}

.login-userLogin {
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
}

.friendSearch {
  /* padding: 10px 10px; */
  margin: 30px;
  width: 350px;
  height: 40px;
  /* display: inline-block; */
  padding: 0px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

 li{
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  text-align:center;
  font-size: 20px;
  /* border: 1px solid #626262; */
  background:var(--button-bg);
  color:white;
  font-family: 'Courier New', Courier, monospace;

}
a:link {
  color: white;
  text-decoration: none;

}
a:visited{
  color:white;
}

a:hover {
  color: var( --moss-green);
  text-decoration: none;
  cursor:pointer;
}